### Testes: Banco de Dados

In [19]:
import pandas as pd
import numpy as np

path = "/home/lucas/Workspace/Load-Forecasting/Dados/"
fl = path+"ABR.xlsx"
df = pd.read_excel(fl)

In [20]:
df.columns

Index(['DIA', 'MES', 'ANO', 'HORA', 'MINUTO', 'ABR_BARRA_13_8_WATT',
       'ABR_TIPO_12B1_WATT', 'ABR_TIPO_11B1_WATT', 'ABR_TIPO_21V1_WATT',
       'ABR_TIPO_21V2_WATT', 'ABR_TIPO_21V3_WATT', 'ABR_TIPO_21V4_WATT',
       'ABR_TIPO_21V5_WATT', 'ABR_TIPO_21V6_WATT', 'ABR_TIPO_21D1_WATT'],
      dtype='object')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210432 entries, 0 to 210431
Data columns (total 15 columns):
DIA                    210432 non-null int64
MES                    210432 non-null int64
ANO                    210432 non-null int64
HORA                   210432 non-null int64
MINUTO                 210432 non-null int64
ABR_BARRA_13_8_WATT    210432 non-null float64
ABR_TIPO_12B1_WATT     210432 non-null float64
ABR_TIPO_11B1_WATT     210432 non-null float64
ABR_TIPO_21V1_WATT     210432 non-null float64
ABR_TIPO_21V2_WATT     210432 non-null float64
ABR_TIPO_21V3_WATT     210432 non-null float64
ABR_TIPO_21V4_WATT     210432 non-null float64
ABR_TIPO_21V5_WATT     210432 non-null float64
ABR_TIPO_21V6_WATT     210432 non-null float64
ABR_TIPO_21D1_WATT     210432 non-null float64
dtypes: float64(10), int64(5)
memory usage: 24.1 MB

In [22]:
df['data'] = pd.to_datetime(df[['DIA','MES','ANO','HORA','MINUTO']]
                            .astype(str).apply(' '.join, 1), format='%d %m %Y %H %M')
df.head()

,DIA,MES,ANO,HORA,MINUTO,ABR_BARRA_13_8_WATT,ABR_TIPO_12B1_WATT,ABR_TIPO_11B1_WATT,ABR_TIPO_21V1_WATT,ABR_TIPO_21V2_WATT,ABR_TIPO_21V3_WATT,ABR_TIPO_21V4_WATT,ABR_TIPO_21V5_WATT,ABR_TIPO_21V6_WATT,ABR_TIPO_21D1_WATT,data
0,1,1,2008,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2008-01-01 00:00:00
1,1,1,2008,0,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2008-01-01 00:15:00
2,1,1,2008,0,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2008-01-01 00:30:00
3,1,1,2008,0,45,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2008-01-01 00:45:00
4,1,1,2008,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2008-01-01 01:00:00

In [23]:
df.set_index('data', inplace=True)
df.head(10)

,DIA,MES,ANO,HORA,MINUTO,ABR_BARRA_13_8_WATT,ABR_TIPO_12B1_WATT,ABR_TIPO_11B1_WATT,ABR_TIPO_21V1_WATT,ABR_TIPO_21V2_WATT,ABR_TIPO_21V3_WATT,ABR_TIPO_21V4_WATT,ABR_TIPO_21V5_WATT,ABR_TIPO_21V6_WATT,ABR_TIPO_21D1_WATT
data,,,,,,,,,,,,,,,
2008-01-01 00:00:00,1,1,2008,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2008-01-01 00:15:00,1,1,2008,0,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2008-01-01 00:30:00,1,1,2008,0,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2008-01-01 00:45:00,1,1,2008,0,45,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2008-01-01 01:00:00,1,1,2008,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2008-01-01 01:15:00,1,1,2008,1,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2008-01-01 01:30:00,1,1,2008,1,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2008-01-01 01:45:00,1,1,2008,1,45,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2008-01-01 02:00:00,1,1,2008,2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2008-01-01 02:15:00,1,1,2008,2,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
df.drop(columns=['DIA','MES','ANO','HORA','MINUTO'], axis=1, inplace=True)
df.head()

,ABR_BARRA_13_8_WATT,ABR_TIPO_12B1_WATT,ABR_TIPO_11B1_WATT,ABR_TIPO_21V1_WATT,ABR_TIPO_21V2_WATT,ABR_TIPO_21V3_WATT,ABR_TIPO_21V4_WATT,ABR_TIPO_21V5_WATT,ABR_TIPO_21V6_WATT,ABR_TIPO_21D1_WATT
data,,,,,,,,,,
2008-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2008-01-01 00:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2008-01-01 00:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2008-01-01 00:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2008-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
import sqlalchemy as sql

con_string = 'mysql://lucas:22031889@Tbj@localhost/Teste'
sql_engine = sql.create_engine(con_string)
df.to_sql('ABR', sql_engine, if_exists = 'replace')

In [33]:
info = []
subs = []
for filename in os.listdir(path):
    if filename.endswith(".csv"):
        info.append(filename)
    elif filename.endswith(".xlsx"):
        subs.append(filename)

In [34]:
subs

['SZA.xlsx',
 'ESP.xlsx',
 'QMD.xlsx',
 'JCU.xlsx',
 'STR.xlsx',
 'MNT.xlsx',
 'SPX.xlsx',
 'PLV.xlsx',
 'ABR.xlsx',
 'BNR.xlsx',
 'GBA.xlsx',
 'JRC.xlsx',
 'CRI.xlsx',
 'PRT.xlsx',
 'PLT.xlsx',
 'SBT.xlsx',
 'JPS.xlsx',
 'CPX.xlsx',
 'MRO.xlsx',
 'PBL.xlsx',
 'PRI.xlsx',
 'CTE.xlsx',
 'BJC.xlsx',
 'PCI.xlsx',
 'ARR.xlsx',
 'BQR.xlsx',
 'TBU.xlsx',
 'JZR.xlsx',
 'MGB.xlsx',
 'SGL.xlsx',
 'PTS.xlsx',
 'ARA.xlsx',
 'TXR.xlsx',
 'RTT.xlsx',
 'ITA.xlsx',
 'CDE.xlsx',
 'CBD.xlsx',
 'PLU.xlsx',
 'JTB.xlsx',
 'CTL.xlsx',
 'PCO.xlsx',
 'BSA.xlsx',
 'MRU.xlsx',
 'MLT.xlsx',
 'DST.xlsx',
 'CAA.xlsx',
 'SJC.xlsx',
 'ILB.xlsx',
 'MAA.xlsx',
 'CTR.xlsx',
 'LCN.xlsx',
 'ITO.xlsx',
 'SLZ.xlsx',
 'DIN.xlsx',
 'IBR.xlsx',
 'SME.xlsx',
 'ORT.xlsx',
 'CJZ.xlsx',
 'BVA.xlsx',
 'SPE.xlsx',
 'AER.xlsx',
 'CRM.xlsx',
 'URN.xlsx',
 'RIC.xlsx',
 'ARN.xlsx']

In [38]:
fl = path+info[0]
dfs = pd.read_csv(fl)
dfs.head()

,Id,Abrv,Nome,Longitude,Latitude,Zeros,Nulos,Violacoes,Balanco,Nota,PMs
0,1,ABR,Alto Branco,-35.872778,-7.204444,0.706,0.704,0.604,0.292,0.5766,12J5
1,2,AER,Aeroclube,-35.892361,-7.263583,0.000,0.000,0.000,0.032,0.0080,0
2,3,ARA,Areia,-35.705833,-6.972972,0.783,0.001,0.464,0.414,0.4155,12J3;12J4;12V1;12V2
3,4,ARN,Araruna,-35.733194,-6.534722,0.000,0.000,0.000,0.005,0.0014,0
4,5,ARR,Aroeiras,-35.727166,-7.556750,0.000,0.000,0.000,0.092,0.0229,0

In [41]:
nomes = dfs[['Abrv','Nome']]
nomes.set_index('Abrv', inplace=True)
nomes

                    Nome
Abrv
ABR          Alto Branco
AER            Aeroclube
ARA                Areia
ARN              Araruna
ARR             Aroeiras
BJC        Brejo do Cruz
BNR           Bananeiras
BQR            Boqueirão
BSA                Bessa
BVA            Boa Vista
CAA              Caaporã
CBD             Cabedelo
CDE                Conde
CJZ           Cajazeiras
CPX        Cruz do Peixe
CRM              Coremas
CTE                Cuité
CTL               Catolé
CTR      Catolé do Rocha
DIN            Dona Inês
DST             Distrito
ESP            Esperança
GBA            Guarabira
IBR               Ibiara
ILB        Ilha do Bispo
ITA            Itabaiana
ITO           Itaporanga
JCU              Jacaraú
JPS          João Pessoa
JRC               Jerico
JTB               Jatobá
JZR          Juazeirinho
LCN               Lucena
MAA             Mataraca
MGB           Mangabeira
MLT                Malta
MNT             Monteiro
MRU            Mussuré I
ORT             Oratório
PBL               Pombal
PCI                Picuí
PCO               Piancó
PLT             Paulista
PLU             Pilões I
PRI      Princesa Isabel
PRT             Paratibe
PTS                Patos
QMD            Queimadas
RIC              Riachão
SBT            São Bento
SGL          São Gonçalo
SJC   São João de Cariri
SLZ          Santa Luzia
SME                 Sumé
SPE                 Sapé
SPX    S.J. Rio do Peixe
SZA                Souza
TBU               Tambaú
TXR             Teixeira
URN              Uiraúna

In [ ]:
con_string = 'mysql://lucas:22031889@Tbj@localhost/Teste'
sql_engine = sql.create_engine(con_string)
df.to_sql('ABR', sql_engine, if_exists = 'replace')